src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <flow name="processAQueueObjectsToBatchFlow" doc:name="processAQueueObjectsToBatchFlow">
        <jms:inbound-endpoint queue="A" connector-ref="Active_MQ" doc:name="JMS Queue A" exchange-pattern="request-response"/>
        <logger message="Queue AAAAA input: #[payload]" level="INFO" doc:name="log A Queue"/>
        <expression-component doc:name="convert account to list of Accounts"><![CDATA[Object obj = payload;
payload = new ArrayList();
payload.add(obj);]]></expression-component>
        <batch:execute name="syncAccountsBatch" doc:name="Batch Execute"/>
        <logger message="AAAAAAAAAA  batch finished #[payload]" level="INFO" doc:name="Log result from batch "/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="processBQueueObjectsToFlow" doc:name="processBQueueObjectsToFlow">
        <jms:inbound-endpoint queue="B" connector-ref="Active_MQ" doc:name="JMS Queue B"/>
        <logger message="Queue BBBBB input: #[payload]" level="INFO" doc:name="log B Queue"/>
        <flow-ref name="syncAccountsSubFlow" doc:name="Flow Reference"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <batch:job name="syncAccountsBatch">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:process-records>
            <batch:step name="foreachAccountInAGetAccountInBStep">
                <logger message="Current account: #[payload]" level="INFO" doc:name="Logger"/>
                <enricher source="#[payload]" target="#[recordVars['accountInB']]" doc:name="store result in record var 'accountInB'">
                    <sfdc:query-single config-ref="SalesforceB" query="SELECT Id FROM Account WHERE Name = '#[payload['Name']]'" doc:name="query Account in Salesforce Instance B"/>
                </enricher>
            </batch:step>
            <batch:step name="foreachAccountInAUpsertAccountInBStep">
                <expression-component doc:name="set ID for upsert"><![CDATA[if (recordVars['accountInB'] instanceof NullPayload) {
	// Remove ID as it is an insert
	payload.remove('Id')
} else {
	// Add target system ID as it is an update
    payload.put('Id', recordVars['accountInB']['Id'])
}]]></expression-component>
                <expression-component doc:name="remove unnecessary fields and map field types"><![CDATA[payload.remove('LastModifiedDate');
payload.remove('LastModifiedById');

// TODO - This is necessary due to: https://www.mulesoft.org/jira/browse/CLDCONNECT-1248
payload.put('NumberOfEmployees', Integer.parseInt(payload['NumberOfEmployees']) );]]></expression-component>
                <batch:commit size="200" doc:name="Batch Commit">
                    <flow-ref name="commitAccountsFlow" doc:name="commit Account Flow Reference"/>
                </batch:commit>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON"/>
            <logger message="Migration process has finished: #[payload]" level="INFO" doc:name="log 'Migration process has finished'"/>
        </batch:on-complete>
    </batch:job>
    <sub-flow name="syncAccountsSubFlow" doc:name="syncAccountsSubFlow">
        <processor-chain doc:name="forAccountInAGetAccountInBStep">
            <enricher source="#[payload]" target="#[flowVars['accountInB']]" doc:name="store result in flow var 'accountInB'">
                <sfdc:query-single config-ref="SalesforceB" query="SELECT Id FROM Account WHERE Name = '#[payload['Name']]'" doc:name="query Account in Salesforce Instance B"/>
            </enricher>
        </processor-chain>
        <processor-chain doc:name="Upsert Account in B">
            <expression-component doc:name="set ID for upsert"><![CDATA[if (flowVars['accountInB'] instanceof NullPayload) {
	// Remove ID as it is an insert
	payload.remove('Id')
} else {
	// Add target system ID as it is an update
    payload.put('Id', flowVars['accountInB']['Id'])
}]]></expression-component>
            <expression-component doc:name="remove unnecessary fields and map field types"><![CDATA[payload.remove('LastModifiedDate');
payload.remove('LastModifiedById');

// TODO - This is necessary due to: https://www.mulesoft.org/jira/browse/CLDCONNECT-1248
payload.put('NumberOfEmployees', Integer.parseInt(payload['NumberOfEmployees']) );]]></expression-component>
            <expression-component doc:name="convert account to list of Accounts"><![CDATA[Object obj = payload;
payload = new ArrayList();
payload.add(obj);]]></expression-component>
            <sfdc:upsert config-ref="SalesforceB" externalIdFieldName="Id" type="Account" doc:name="upsert Accounts in Salesforce Instance B">
                <sfdc:objects ref="#[payload]"/>
            </sfdc:upsert>
            <logger message="Upsert result: #[payload]" level="ERROR" doc:name="log Result"/>
        </processor-chain>
    </sub-flow>
    <sub-flow name="commitAccountsFlow" doc:name="commitAccountsFlow">
        <logger message="Accounts to update/create: #[payload]" level="INFO" doc:name="log Accounts to update/create"/>
        <sfdc:upsert config-ref="SalesforceB" externalIdFieldName="Id" type="Account" doc:name="upsert Accounts in Salesforce Instance B">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:upsert>
        <logger message="Upsert result: #[payload]" level="ERROR" doc:name="log Result"/>
    </sub-flow>


</mule>
