src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <batch:job name="enqueueLastChangesBatch">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:process-records>
            <batch:step name="foreachAccountEnqueue">
                <logger message="0000 #[payload]" level="INFO" doc:name="Logger"/>
                <batch:set-record-variable variableName="routes" value="#[ ['Education': 'A','Energy': 'B','Government': 'B','Ecommerce': 'A'] ]" doc:name="set routes"/>
                <jms:outbound-endpoint queue="#[recordVars['routes'][payload.Industry]]" connector-ref="Active_MQ" doc:name="enqueue in JMS"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="1111111 batch completed" level="INFO" doc:name="log batch complete"/>
        </batch:on-complete>
    </batch:job>
    <flow name="processAQueueObjectsFlow" doc:name="processAQueueObjectsFlow">
        <jms:inbound-endpoint queue="A" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="AAAAAAAAAAAAA #[payload]" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Expression"><![CDATA[Object obj = payload;
payload = new ArrayList();
payload.add(obj);]]></expression-component>
        <batch:execute name="syncAccountsBatch" doc:name="Batch Execute"/>
    </flow>
    <flow name="processBQueueObjectsFlow" doc:name="processBQueueObjectsFlow">
        <jms:inbound-endpoint queue="B" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="BBBBBBBBB #[payload]" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Expression"><![CDATA[Object obj = payload;
payload = new ArrayList();
payload.add(obj);]]></expression-component>
        <batch:execute name="syncAccountsBatch" doc:name="Batch Execute"/>
    </flow>
	<batch:job name="syncAccountsBatch">
		<batch:threading-profile poolExhaustedAction="WAIT" />
		<batch:process-records>
			<batch:step name="foreachAccountInAGetAccountInBStep">
                <logger message="Current account: #[payload]" level="INFO" doc:name="Logger"/>
				<enricher source="#[payload]" target="#[recordVars['accountInB']]"
					doc:name="store result in record var 'accountInB'">
					<sfdc:query-single config-ref="SalesforceB"
						query="SELECT Id FROM Account WHERE Name = '#[payload['Name']]'"
						doc:name="query Account in Salesforce Instance B" />
				</enricher>
			</batch:step>
			<batch:step name="foreachAccountInAUpsertAccountInBStep">
				<expression-component doc:name="set ID for upsert"><![CDATA[if (recordVars['accountInB'] instanceof NullPayload) {
	// Remove ID as it is an insert
	payload.remove('Id')
} else {
	// Add target system ID as it is an update
    payload.put('Id', recordVars['accountInB']['Id'])
}]]></expression-component>
				<expression-component
					doc:name="remove unnecessary fields and map field types"><![CDATA[payload.remove('LastModifiedDate');
payload.remove('LastModifiedById');

// TODO - This is necessary due to: https://www.mulesoft.org/jira/browse/CLDCONNECT-1248
payload.put('NumberOfEmployees', Integer.parseInt(payload['NumberOfEmployees']) );]]></expression-component>
				<batch:commit size="200" doc:name="Batch Commit">
                    <flow-ref name="commitAccountsFlow" doc:name="Flow Reference"/>
				</batch:commit>
			</batch:step>
		</batch:process-records>
		<batch:on-complete>
			<json:object-to-json-transformer
				doc:name="transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="log 'Migration process has finished'"
				message="Migration process has finished: #[payload]" />
		</batch:on-complete>
	</batch:job>
    <flow name="commitAccountsFlow" doc:name="commitAccountsFlow">
        <logger message="Accounts to update/create: #[payload]" level="INFO" doc:name="log Accounts to update/create"/>
        <sfdc:upsert config-ref="SalesforceB" externalIdFieldName="Id" type="Account" doc:name="upsert Accounts in Salesforce Instance B">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:upsert>
        <logger message="Upsert result: #[payload]" level="ERROR" doc:name="log Result"/>
    </flow>

</mule>
